<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrueFlasksNG Widget</title>
    <link rel="stylesheet" href="TrueFlasksWidgetStyle.css">
</head>
<body>
    <div id="widget-container" class="ui-container">
        <object id="flask-magick" class="flask flask-top" data="resources/FlasksMagick.svg" type="image/svg+xml"></object>
        <object id="flask-health" class="flask flask-left" data="resources/FlasksHealth.svg" type="image/svg+xml"></object>
        <object id="flask-stamina" class="flask flask-right" data="resources/FlasksStamina.svg" type="image/svg+xml"></object>
        <object id="flask-other" class="flask flask-bottom" data="resources/FlasksOther.svg" type="image/svg+xml"></object>
    </div>

    <script src="TrueFlasksWidgetScript.js"></script>
</body>
</html>
