<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrueFlasksNG Widget</title>
    <link rel="stylesheet" href="TrueFlasksWidgetStyle.css">
</head>
<body>
    <div id="widget-container" class="ui-container">
        <div id="flask-group-health" class="flask-group flask-top">
            <object id="flask-health" class="flask" data="resources/FlasksHealth.svg" type="image/svg+xml"></object>
            <div id="flask-counter-health" class="flask-counter"></div>
        </div>
        
        <div id="flask-group-magick" class="flask-group flask-left">
            <object id="flask-magick" class="flask" data="resources/FlasksMagick.svg" type="image/svg+xml"></object>
            <div id="flask-counter-magick" class="flask-counter"></div>
        </div>

        <div id="flask-group-stamina" class="flask-group flask-right">
            <object id="flask-stamina" class="flask" data="resources/FlasksStamina.svg" type="image/svg+xml"></object>
            <div id="flask-counter-stamina" class="flask-counter"></div>
        </div>

        <div id="flask-group-other" class="flask-group flask-bottom">
            <object id="flask-other" class="flask" data="resources/FlasksOther.svg" type="image/svg+xml"></object>
            <div id="flask-counter-other" class="flask-counter"></div>
        </div>
    </div>

    <script src="TrueFlasksWidgetScript.js"></script>
</body>
</html>